body {
  font-family: "Montserrat", sans-serif;
  background-color: #161616;
  color: white;
}
h1 {
  font-size: 3.5rem;
  margin: auto;
}
h2 {
  font-size: 1.5rem;
  opacity: 0.75;
}
h3 {
  opacity: 0.5;
}
h4 {
  opacity: 0.25;
}
.heading-below {
  color: #fca3f3;
  margin: 1rem;
  padding: 1rem;
}
.image {
  border: 2px solid #fca3f3;
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 0.5fr 1.5fr;
  margin: 1rem;
}
.grid-item1 {
  margin: 2rem 1rem 0 1rem;
}
.align {
  margin-left: 2.3rem;
}
.grid-item2 {
  padding: 2rem 1rem;
  margin: 1rem 0rem 0rem 0;
  text-align: center;
}
.adjust {
  margin-top: 5rem;
}

/* section-2 */
.grid-container1 {
  margin: 3.5rem;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 0fr 1.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas: "skills skills about about" "edu edu about about" ". . . .";
}
.grid-container1 h1 {
  font-size: 2rem;
  margin: 1rem 0rem;
  color: #54dcf2;
}
.grid-container1 h2 {
  opacity: 1;
  font-size: 1.3rem;
  margin: 1rem 0rem;
  color: white;
}
.skills {
  padding: 1rem;
  background-color: #232d2f;
  border-radius: 15px;
  grid-area: skills;
}

.edu {
  padding: 1rem;
  background-color: #232d2f;
  border-radius: 15px;
  grid-area: edu;
}

.about {
  padding: 1rem;
  line-height: 2rem;
  background-color: #232d2f;
  border-radius: 15px;
  grid-area: about;
}
.button {
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  font-size: 1rem;
  background-color: #fca3f3;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #54dcf2;
  border: none;
}
.button:focus {
  background-color: #54dcf2;
  border: none;
  outline: none;
}

/* section-3 */
.grid-container3 {
  display: grid;
  grid-template-columns: 2fr 1fr 0.9fr 2fr;
  text-align: center;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: ". . . ." ". contact contact ." ". . . .";
}

.contact {
  grid-area: contact;
  background-color: #232d2f;
  border-radius: 18px;
}
input {
  display: block;
  margin: 2rem 0rem;
  padding: 1rem 4rem;
  border-radius: 10px;
  border: none;
  background-color: #161616;
  color: white;
  text-align: center;
}
.middle {
  margin: 2rem 0rem 0rem 6rem;
}
textarea {
  margin: 1rem 0rem 1rem 6rem;
  display: block;
  padding: 1rem 1.8rem;
  border-radius: 10px;
  border: none;
  background-color: #161616;
  text-align: center;
  color: white;
}
.submit-button {
  margin: 1rem 0rem 4rem 0;
  padding: 0.5rem 4.5rem;
  font-size: 1rem;
  background-color: #fca3f3;
  color: black;
  border: none;
  border-radius: 0.5rem;
}
.submit-button:hover {
  background-color: #54dcf2;
  border: none;
}
.submit-button:focus {
  background-color: #54dcf2;
  border: none;
  outline: none;
}
input:focus,
textarea:focus {
  background-color: white;
  color: black;
  outline: none;
}

/* footer */
footer {
  background-color: #232d2f;
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0px;
}
.footer {
  margin: 2rem 1rem 1rem 1rem;
  text-align: center;
}
.icon {
  display: inline-block;
  padding: 2rem 5rem;
}
.fab,
.far {
  color: #54dcf2;
}
.footer-text {
  color: #54dcf2;
  text-align: center;
  margin: 1rem;
  opacity: 1;
}
