body {
  font-family: "Montserrat", sans-serif;
  background-color: #161616;
  color: white;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.5rem;
  margin: auto;
}
h2 {
  font-size: 1.5rem;
  opacity: 0.75;
}
h3 {
  opacity: 0.5;
}
h4 {
  opacity: 0.25;
}
p {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 400;
}
.container {
  padding: 5vh 10vh;
}

/*Home Section*/
.heading-below {
  color: #fca3f3;
  margin: 1rem;
}
.image {
  border: 1px solid #fca3f3;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}
/*Skill section*/
.skill-container {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 0fr 1.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas: "skills skills about about" "edu edu about about" ". . . .";
}
.skill-container h1 {
  font-size: 2rem;
  color: #54dcf2;
}
.skill-container h2 {
  opacity: 1;
  font-size: 1.3rem;
  margin: 1rem 0rem;
  color: white;
}
.skills,
.edu,
.about {
  padding: 2em;
  background-color: #232d2f;
  border-radius: 15px;
}
.skills {
  grid-area: skills;
}
.edu {
  grid-area: edu;
}
.about {
  grid-area: about;
}
.button {
  margin-top: 1em;
  padding: 1rem 5rem;
  font-size: 1rem;
  background-color: #fca3f3;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #54dcf2;
  border: none;
}
.button:focus {
  background-color: #54dcf2;
  border: none;
  outline: none;
}
.grid-container3 {
  display: flex;
  justify-content: center;
}

.contact-form {
  background-color: #232d2f;
  border-radius: 18px;
  padding: 2em;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 350px;
}
.form-text {
  padding: 0;
  margin-bottom: 2em;
  line-height: 1;
}
.form-text h2 {
  margin: 0;
  padding: 0;
}
.form-input {
  border-radius: 10px;
  border: none;
  background-color: #161616;
  color: white;
  text-align: left;
  width: 90%;
  padding: 1em;
  margin-bottom: 1em;
  font-family: "Montserrat";
}
.form-input::placeholder {
  color: white;
}
.submit-button {
  margin-top: 1em;

  max-width: 90%;
  text-align: center;
}
.submit-button:hover {
  background-color: #54dcf2;
  border: none;
}
.submit-button:focus {
  background-color: #54dcf2;
  border: none;
  outline: none;
}
input:focus,
textarea:focus {
  background-color: white;
  color: black;
  outline: none;
}
#skills,
#footer {
  margin: 5vh;
}
footer {
  background-color: #232d2f;
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0px;
}
.footer {
  margin: 2rem 1rem 1rem 1rem;
  text-align: center;
}
.icon {
  display: inline-block;
  padding: 2rem 5rem;
}
.fab,
.far {
  color: #54dcf2;
}
.footer-text {
  color: #54dcf2;
  text-align: center;
  margin: 1rem;
  opacity: 1;
}
